@font-face {
    font-family: 'microspoolers';
    src:
            url('fonts/microspoolers.ttf?hxxjgh') format('truetype'),
            url('fonts/microspoolers.woff?hxxjgh') format('woff'),
            url('fonts/microspoolers.svg?hxxjgh#microspoolers') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'microspoolers' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-upload3:before {
    content: "\e9c8";
}

@font-face {
    font-family: "Moongloss";
    src: url("moongloss.otf");
}

body {
    color: #0F0D19;
    background-color: #EEF0F2;
}

a {
    color: #3590F3;
    transition: color 0.15s ease;
}

a:hover {
    color: #3b3561;
}

header {
    background-color: #3B3561;
    overflow: auto;
    text-align: center;
    color: #EEF0F2;
}

header h1 {
    font-family: "Moongloss", sans-serif;
    margin: 0.5em 0.5em 0 0.5em;
    font-size: 4em;
}

header img {
    height: 102px;
    margin-right: 0.5em;
}

.tagline {
    font-style: italic;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0.5em;
}

.quick-start {
    background-color: #EEF0F2;
    padding: 1em;
}

.wrapper {
    margin: 0 auto;
    width: 800px;
}

.hiw-step-container {
    margin-bottom: 1em;
    position: relative;
}

.hiw-step {
    border: 1px solid #3b3561;
    box-shadow: 0 0 10px rgba(59, 53, 97, 0.2);
    background-color: #f8f8f8;
    border-radius: 5px;
    overflow: hidden;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 15px solid #3B3561;
    position: absolute;
    top: calc(100% - 1px);
    left: calc(50% - 11px);
    z-index: 1;
}

.triangle:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-top: 14px solid #f8f8f8;
    position: absolute;
    left: -19px;
    bottom: 1px;
}

.code-example pre {
    margin-bottom: 0;
    border-top: 1px solid #3B3561;
}

.code-example > input {
    display: block;
    position: absolute;
    left: -100%;
}

.code-example > ul {
    z-index: 1;
    display: flex !important;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 0.8em;
    font-family: Menlo, monospace;
}

.code-example label {
    user-select: none;
    cursor: pointer;
    margin-bottom: 0;
    padding: 2px 5px;
    border-right: 1px solid #3B3561;
    transition: background-color 0.15s ease, color 0.15s ease;
}

.code-example label:hover {
    background-color: #EEEDF0;
}

.code-example section,
.code-example section h2 {
    display: none;
}

.code-example > input:nth-child(1):checked ~ ul li:nth-child(1) label,
.code-example > input:nth-child(2):checked ~ ul li:nth-child(2) label,
.code-example > input:nth-child(3):checked ~ ul li:nth-child(3) label {
    background-color: #3B3561;
    color: #f8f8f8;
}

.code-example > input:nth-child(1):checked ~ div > section:nth-child(1),
.code-example > input:nth-child(2):checked ~ div > section:nth-child(2),
.code-example > input:nth-child(3):checked ~ div > section:nth-child(3) {
    display: block;
}

.deploy {
    padding: 10px;
}

.deploy-items {
    display: flex;
    flex-direction: row;
}

.deploy-item {
    height: 200px;
    flex: 1 1 0;
    border-radius: 3px 0 3px 3px;
    background-color: #3b3561;
    color: #EEF0F2;
    font-family: Menlo, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    font-size: 1.2em;
    position: relative;
}

.deploy-item:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 16px 16px 0;
    border-style: solid;
    border-color: #1F1C33 #f8f8f8;
}

.deploy-item .flair {
    position: absolute;
}

.deploy-file {
    position: relative;
}

.deploy-file img {
    width: 50%;
    padding-top: 25%;
    padding-bottom: 25%;
    position: relative;
    left: 25%;
}

.deploy-file .flair {
    bottom: 0;
    right: 9px;
    font-size: 2.3em;
}

.rust-logo {
    margin: 10px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #3b3561;
}

.rust-logo img {
    height: 4em;
    margin-bottom: 3px;
}

.deploy-wasm {
    flex-direction: column;
    position: relative;
    color: #f8f8f8;
    font-family: Menlo, monospace;
}

.deploy-wasm .wasm-app {
    padding: 0 0.5em;
}

.wasm-logo {
    background-color: #654FF0;
    position: relative;
    bottom: 8px;
    right: 8px;
    font-family: sans-serif;
    padding: 15px 2px 0 11px;
    font-size: 0.8em;
    font-weight: bold;
}

.wasm-logo .cut-out {
    width: 14px;
    height: 7px;
    background-color: #3b3561;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top: 0;
    position: absolute;
    top: 0;
    left: calc(50% - 7px);
}

.deploy-upload {
    margin: 10px auto;
    padding: 0 20px;
    color: #3b3561;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.deploy-upload span {
    font-size: 4em;
    position: relative;
    left: 3px;
    margin-bottom: 3px;
}

.deploy-spooler {
    position: relative;
    overflow: hidden;
}

.deploy-spooler img {
    height: 68px;
}

.deploy-spooler .flair {
    bottom: 0;
    right: 9px;
    font-size: 2.3em;
}

.serve-container {
    padding: 0 1em 1em;
}

.serve {
    font-family: Menlo, monospace;
    color: #3b3561;
    background-color: #f8f8f8;
    cursor: text;
    border: 3px dashed #ddd;
    border-radius: 10px;
    transition: border-color 0.15s ease;
    font-size: 1.3em;
    padding: 0.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.serve:hover {
    border-color: #3b3561;
}

.features {
    padding: 1em;
    background-color: #3B3561;
    color: #EEF0F2;
}

.features-container {
	display: flex;
	flex-direction: row;
}

.features ul {
    margin-bottom: 0;
}

.features .diagram {
    image-rendering: crisp-edges;
	margin-left: auto;
}

.cta {
    background-color: #EEF0F2;
    padding: 1em 1em 0.9em 1em;
    font-size: 1.1em;
}

.cta form {
    margin-top: 0.3em;
    margin-bottom: 0;
}

.cta input[type="submit"] {
    background-color: #3590F3;
}

.cta input[type="submit"].finished {
    background-color: #3B3561;
    opacity: 1;
    border: none;
    cursor: not-allowed;
    box-shadow: 0 0 0 .2rem rgba(38, 143, 255, 0);
}

@media (max-width: 800px) {
    header h1 {
        font-size: 2em;
    }

    .deploy-items {
        flex-direction: column;
    }

    .deploy-item {
        flex: 200px;
    }

    .wrapper {
        width: auto;
    }
	
	.features-container {
        flex-direction: column;
    }
	
	.features .diagram {
        margin: 5px;
    }
}
